<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CadastrarPaciente</servlet-name>
        <servlet-class>Controle.CadastrarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarMedico</servlet-name>
        <servlet-class>Controle.CadastrarMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClinica</servlet-name>
        <servlet-class>Controle.CadastrarClinica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarPlano</servlet-name>
        <servlet-class>Controle.CadastrarPlano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClinica</servlet-name>
        <servlet-class>Controle.LoginClinica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginMedico</servlet-name>
        <servlet-class>Controle.LoginMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPaciente</servlet-name>
        <servlet-class>Controle.LoginPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPlano</servlet-name>
        <servlet-class>Controle.LoginPlano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarClinica</servlet-name>
        <servlet-class>Controle.AlterarClinica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMedico</servlet-name>
        <servlet-class>Controle.AlterarMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPaciente</servlet-name>
        <servlet-class>Controle.AlterarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPlano</servlet-name>
        <servlet-class>Controle.AlterarPlano</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarPaciente</servlet-name>
        <url-pattern>/CadastrarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarMedico</servlet-name>
        <url-pattern>/CadastrarMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClinica</servlet-name>
        <url-pattern>/CadastrarClinica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarPlano</servlet-name>
        <url-pattern>/CadastrarPlano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClinica</servlet-name>
        <url-pattern>/LoginClinica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginMedico</servlet-name>
        <url-pattern>/LoginMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPaciente</servlet-name>
        <url-pattern>/LoginPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPlano</servlet-name>
        <url-pattern>/LoginPlano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarClinica</servlet-name>
        <url-pattern>/AlterarClinica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMedico</servlet-name>
        <url-pattern>/AlterarMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPaciente</servlet-name>
        <url-pattern>/AlterarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPlano</servlet-name>
        <url-pattern>/AlterarPlano</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
